version: "3"
name: nashuro

services:
  postgres:
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    image: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data/
    networks:
      strapi:
        ipv4_address: 10.5.0.10

  strapi:
    container_name: strapi
    build:
      context: ../backend
      dockerfile: "../docker/strapi/Dockerfile"
    restart: unless-stopped
    environment:
      DATABASE_CLIENT: postgres
      DATABASE_HOST: 10.5.0.10
      DATABASE_PORT: 5432
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      HOST: ${HOST}
      PORT: ${PORT}
      URL: ${URL}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      APP_KEYS: ${APP_KEYS}
      TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
      JWT_SECRET: ${JWT_SECRET}
      EMAIL: ${EMAIL}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      NODE_RELAY_TOKEN: ${NODE_RELAY_TOKEN}
    volumes:
      - strapi-public:/app/public
    networks:
      strapi:
        ipv4_address: 10.5.0.11
    depends_on:
      - postgres

  node-relay:
    container_name: node-relay
    build:
      context: .
      dockerfile: "./node-relay/Dockerfile"
    restart: unless-stopped
    environment:
      NODE_RELAY_TOKEN: ${NODE_RELAY_TOKEN}
      GITHUB_REPO: ${GITHUB_REPO}
      GITHUB_TOKEN: ${GITHUB_TOKEN}
    networks:
      strapi:
        ipv4_address: 10.5.0.12

  nginx:
    container_name: nginx
    restart: unless-stopped
    build:
      context: .
      dockerfile: "./nginx/Dockerfile"
      args:
        SSL_CERTIFICATE: "${SSL_CERTIFICATE}"
        SSL_CERTIFICATE_KEY: "${SSL_CERTIFICATE_KEY}"
    ports:
      - "80:80"
      - "443:443"
    networks:
      strapi:
        ipv4_address: 10.5.0.13
    depends_on:
      - strapi

volumes:
  strapi-public:
  postgres-data:

networks:
  strapi:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.5.0.0/24
          gateway: 10.5.0.1
