---
import FlexWrapper from "../components/Cards/FlexWrapper";
import Section from "../components/Section";
import { h1_cards_section } from "../components/typography";
import { type StrapiImage } from "../customTypes";

export interface Props {
  data: {
    Nazev: string;
    Odkaz: string;
    Obrazek: StrapiImage;
  }[];
}

const data = Astro.props.data;
---

{
  data.length > 0 && (
    <Section>
      <h1 class={h1_cards_section}>Naši sponzoři</h1>
      <FlexWrapper className="-mb-8 flex-col items-center md:flex-row">
        {data.map((x) => (
          <a href={x.Odkaz} target="_blank" class="mx-10 mb-10 last:mb-0">
            <img
              loading="lazy"
              src={
                import.meta.env.PUBLIC_STRAPI + x.Obrazek.data.attributes.url
              }
              alt={x.Nazev}
              class="h-24"
            />
          </a>
        ))}
      </FlexWrapper>
    </Section>
  )
}
