---
import Navbar from "../components/Navbar/index.astro";
import Footer from "../components/Footer/index.astro";

const response = await fetch(import.meta.env.PUBLIC_STRAPI + "/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        stredisko {
            data {
                attributes {
                    Nazev
                }
            }
        }
      }
      `,
  }),
});

const Json = await response.json();
const data = Json.data;

export interface Props {
  title?: string;
  topPadding?: "l" | "m" | "no";
}

const title = Astro.props.title
  ? Astro.props.title + ` | ${data.stredisko.data.attributes.Nazev}`
  : `Skautské středisko ${data.stredisko.data.attributes.Nazev}`;

const topPadding = Astro.props.topPadding;
---

<!doctype html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/global.css" />
    <link
      rel="preload"
      href="/fonty/skaut-bold-webfont.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonty/TheMix_LT_700.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonty/TheMix_LT_400.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="h-screen supports-[height:100svh]:h-[100svh] flex flex-col">
    <Navbar />
    <div
      class="w-full flex-1 flex flex-col overflow-y-auto bg-gray-100 overflow-x-hidden scroll-smooth"
    >
      <slot name="outside" />
      <main
        class={`min-h-full shrink-0 ${
          topPadding === "no" ? "" : topPadding === "m" ? "pt-12" : "pt-24"
        } max-w-7xl w-full mx-auto`}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
