---
import Navbar from "../components/Navbar/index.astro";
import Footer from "../components/Footer/index.astro";

const response = await fetch(import.meta.env.PUBLIC_STRAPI + "/graphql", {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        stredisko {
            data {
                attributes {
                    Nazev
                }
            }
        }
      }
      `,
  }),
});

const Json = await response.json();
const data = Json.data;

export interface Props {
  title?: string;
  noTopPadding?: boolean;
  noSidePadding?: boolean;
}

const title = Astro.props.title
  ? Astro.props.title + ` | ${data.stredisko.data.attributes.Nazev}`
  : `Skautské středisko ${data.stredisko.data.attributes.Nazev}`;

const noTopPadding = Astro.props.noTopPadding;
const noSidePadding = Astro.props.noSidePadding;
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/global.css" />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class="h-screen flex flex-col">
    <Navbar />
    <div class="w-full flex-1 flex flex-col overflow-y-auto bg-gray-100 overflow-x-hidden">
      <slot name="outside" />
      <main
        class={`min-h-full shrink-0 ${
          noTopPadding ? "" : "pt-12"
        } max-w-7xl w-full mx-auto ${noSidePadding? "": "px-10"}`}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
