<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="/global.css" />
  <title>Stránka nenalezena</title>
</head>

<body class="h-screen flex flex-col">
  <div class="w-full flex-1 flex flex-col overflow-y-auto bg-gray-100">
    <main
      class="h-full w-full flex flex-col justify-center items-center text-center shrink-0"
    >
      <h2 class="font-skautbold text-7xl mb-8 text-primary-100">404</h2>
      <h1 class="font-skautbold text-xl mb-8">Stránka nebyla nalezena</h1>
      <p class="mb-8 max-w-xs">
        Odkaz, na který jste klikli, je možná rozbitý. Stránka neexistuje, nebo
        byla přesunuta.
      </p>
      <a
        href="/"
        class="font-bold text-white bg-primary-100 px-4 py-2 rounded-md"
      >
        Vrátit se na úvodní stránku
      </a>
    </main>
  </div>
</body>
