name: Upgrade packages

on:
  schedule:
    - cron: "0 0 1,15 * *"
  workflow_dispatch:

jobs:
  upgrade:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    defaults:
      run:
        working-directory: backend
    steps:
      - name: Setup job
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT }}
      - name: Setup Node.js environment
        uses: actions/setup-node@v3
        with:
          cache: "yarn"
          cache-dependency-path: backend/yarn.lock
      - name: Upgrade packages
        run: |
          npm install -g npm-check-updates
          ncu -u
          yarn install
      - name: Push to Github
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Upgrade packages
